@keyframes glitch1 {
    0% { opacity:1;}
    90% { opacity:1;}
    91% { opacity:0;}
    100% { opacity:0;}
}
@keyframes glitch2 {
    0% { opacity:0;}
    29% { opacity:0;}
    30% { opacity:1;}
    31% { opacity:1;}
    32% { opacity:0;}
    50% { opacity:0; }
    51% { opacity:1;}
    60% { opacity:1;}
    61% { opacity:0;}
    100% { opacity:0;}
}
@keyframes glitch3 {
    0% { opacity:0;}
    1% { opacity:1;}
    6% { opacity:1;}
    7% { opacity:0;}
    100% { opacity:0;}
}
@keyframes slideright1 {
    0% { margin-left:1150px; opacity:0;}
    20% { margin-left:1150px; opacity:0;}
    35% { margin-left:1415px; }
    60% { opacity:1; }
    100% { margin-left:1415px; }
}
@keyframes slideright2 {
    0% { margin-left:1000px; opacity:0;}
    20% { margin-left:1000px; opacity:0;}
    35% { margin-left:1270px; }
    60% { opacity:1; }
    100% { margin-left:1270px; }
}
@keyframes slideleft {
    0% { margin-left:400px; opacity:0;}
    20% { margin-left:400px; opacity:0;}
    35% { margin-left:215px; }
    60% { opacity:1; }
    100% { margin-left:215px; }
}
@keyframes slidedown1 {
    0% { margin-top:130px; opacity:0;}
    20% { margin-top:130px; opacity:0;}
    35% { margin-top:205px; }
    60% { opacity:1; }
    100% { margin-top:205px; }
}
@keyframes horizontal1 {
    from {left: -70%;}
    to {left: 170%;}
}
@keyframes horizontal2 {
    from {left: 170%;}
    to {left: -70%;}
}
@keyframes vertical1 {
    from {top: -1000%;}
    to {top: 1200%;}
}
@font-face {
	font-family: blah;
	src:url(../fonts/TradeGothicLTStd-Cn18.otf)
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
h1 {
  font-family: TradeGothicLTStd-Cn18;
	font-size: 320px;
	color: #ff6861;
	z-index: 0;
}
h2 {
  font-family: TradeGothicLTStd-Cn18;
	font-size: 75px;
	color: #231f20;
	z-index: 1;
}
p {
  font-size: 22px;
  color: #231f20;
  font-family: TradeGothicLTStd-Cn18;
  line-height: 30px;
	z-index: 1;
	position: relative;
}
.image1 {
  width: 100% auto;
  height: 100% auto;
  z-index: 2;
  position: absolute;
  animation: glitch1 3s;
  animation-fill-mode: both;
}
.image2 {
  width: 100% auto;
  height: 100% auto;
  z-index: 3;
  position: absolute;
  animation: glitch2 5s;
  animation-fill-mode: both;
}
.image3 {
  width: 100% auto;
  height: 100% auto;
  z-index: 4;
  position: absolute;
  animation: glitch3 5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
.line1 {
  top: -160px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
	position: absolute;
	animation: horizontal1 5s;
  animation-delay: 4s;
  animation-fill-mode: both;
}
.line2 {
  right: 580px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(0deg);
	position: absolute;
	animation: vertical1 4s;
  animation-delay: 6s;
  animation-fill-mode: both;
}
.line3 {
  top: 40px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
	position: absolute;
	animation: horizontal2 5s;
  animation-delay: 7.7s;
  animation-fill-mode: both;
}
.line4 {
  left: 630px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(0deg);
	position: absolute;
	animation: vertical1 4s;
  animation-delay: 9.7s;
  animation-fill-mode: both;
}
.line5 {
  top: 330px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
	position: absolute;
	animation: horizontal1 5s;
  animation-delay: 11.5s;
  animation-fill-mode: both;
}
.line6 {
  right: 400px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
	position: absolute;
	animation: vertical1 3s;
  animation-delay: 13.7s;
  animation-fill-mode: both;
}
.line7 {
  top: -160px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
	position: absolute;
	animation: horizontal1 5s infinite;
  animation-delay: 15.7s;
  animation-fill-mode: both;
}
.line8 {
  right: 580px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(0deg);
	position: absolute;
	animation: vertical1 4s infinite;
  animation-delay: 17s;
  animation-fill-mode: both;
}
.line9 {
  top: 40px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
	position: absolute;
	animation: horizontal2 5s infinite;
  animation-delay: 18.7s;
  animation-fill-mode: both;
}
.line10 {
  left: 630px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(0deg);
	position: absolute;
	animation: vertical1 4s infinite;
  animation-delay: 20.7s;
  animation-fill-mode: both;
}
.line11 {
  top: 330px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
  -webkit-transform: rotate(90deg);
	position: absolute;
	animation: horizontal1 5s infinite;
  animation-delay: 22.5s;
  animation-fill-mode: both;
}
.line12 {
  right: 400px;
  border-left: white 2px solid;
  height: 500px;
  width: 0px;
  z-index: -1;
	position: absolute;
	animation: vertical1 3s infinite;
  animation-delay: 24.7s;
  animation-fill-mode: both;
}
.off {
  position: absolute;
  top: -220px;
  right: 300px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.benefits {
  position: absolute;
  top: -10px;
  animation: slideright1 7s;
  animation-delay: 4s;
  animation-fill-mode: both;
}
.text1 {
  position: absolute;
  right: 505px;
	text-align: right;
  animation: slidedown1 6.5s;
  animation-delay: 5.6s;
  animation-fill-mode: both;
}
.the {
  position: absolute;
  top: -20px;
  left: 300px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.restrictions {
  position: absolute;
  top: 189px;
  animation: slideleft 7s;
  animation-fill-mode: forwards;
  animation-delay: 7.8s;
  animation-fill-mode: both;
}
.text2 {
  position: absolute;
  top: 197px;
  left: 540px;
	text-align: right;
  animation: slidedown1 6.5s;
  animation-delay: 9.4s;
  animation-fill-mode: both;
}
.grid {
  position: absolute;
  top: 270px;
  right: 300px;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.solutions {
  position: absolute;
  top: 480px;
  animation: slideright2 7s;
  animation-fill-mode: forwards;
  animation-delay: 11.6s;
  animation-fill-mode: both;
}
.text3 {
  position: absolute;
  top: 480px;
  right: 340px;
	text-align: right;
  animation: slidedown1 6.5s;
  animation-delay: 13.4s;
  animation-fill-mode: both;
}
